# Flutter
app/.dart_tool/
app/.packages
app/.pub-cache/
app/.pub/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/pubspec.lock
app/.metadata

# Android
app/android/.gradle/
app/android/local.properties
app/android/app/build/
*.apk
*.aab

# iOS
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/ios/Runner.xcworkspace/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# macOS
.DS_Store

# Build
*.o
*.a
*.so
*.dylib
